@model IEnumerable<CTMS.Models.Appointment>

@{
    ViewBag.Title = "GetAppointmentForDoctors";
}


<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Doctor.Name)
        </th>*@
        <th>
            @Html.DisplayName("Patient Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberInQueue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.Doctor.Name)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Patient.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberInQueue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("View", "DetailsPatient", new { id = item.Id }) |
            @Html.ActionLink("Add", "AddNewPic", "PatientPic", routeValues: null, htmlAttributes: new { id = item.Id })|
        </td>
    </tr>
}

</table>
