@model CTMS.Models.Appointment

@{
    ViewBag.Title = "Create";
}
    <div>

        <link href="~/Content/all.min.css" rel="stylesheet" />

        <link href="~/Content/fontawesome.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link href="~/Content/style3.css" rel="stylesheet" />


        <div class="background">
            <p class="pa">
                We Care for Your <br>
                Health Every Moment
            </p>
        </div>

        <div class="appoinment-area">
            <div class=" Servicing">
                <h1>
                    Servicing Hours
                </h1>
                <p>
                    We with you 24 hours <br>
                    You can book our service and wait your appointment<br>
                    This our doctor's avaliable time.
                </p>
                <ul class="time-list">
                    <li class="day and time">
                        <span>Saturday-Monday</span>
                        <span class="align">08.00 am - 10.00 pm</span>
                    </li>
                    <li class="day and time">
                        <span>Tuesday-Thursday</span>
                        <span class="align">01.00 pm - 10.00 pm</span>
                    </li>
                    <li class="day and time">
                        <span>Friday</span>
                        <span class="align1">12.00 pm - 03.00 pm</span>
                    </li>
                </ul>
            </div>


            <div class="booking">
                @using (Html.BeginForm(new { @class = "form-wrap" }))
                {
                    @Html.AntiForgeryToken()
                    <h3 class="h3">Book an Appointment</h3>
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.BookingDate, htmlAttributes: new { @class = "control-label col-md-3 date" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.BookingDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BookingDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PatientEmail, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PatientEmail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PatientEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Confirm Booking" class="btn primary-btn" />
                            </div>
                        </div>
                    </div>
                }

                @*<form class="form-wrap">
                    <h3 class="h3">Book an Appointment</h3>
                    <input type="text" class="form-control" name="name" placeholder="Patient Name" onkeyup="lettersOnly(this)" required>
                    <input type="tel" class="form-control" name="phone" placeholder="Phone " onkeyup="numbersOnly(this)" size="11" maxlength="11" minlength="11" required>
                    <input type="email" class="form-control" name="email" placeholder="Email Address">
                    <input id="flatpickr" name="dop" class="dates form-control" placeholder="Date of Birth" type="text" required>
                    <div class="form-select" id="service-select">
                        <select>
                            <option data-display="">Disease Type</option>
                            <option value="1">Type One</option>
                            <option value="2">Type Two</option>
                            <option value="3">Type Three</option>
                            <option value="4">Type Four</option>
                        </select>
                    </div>
                    <input id="flatpickr" class="dates form-control" placeholder="appointment Date" type="text" required>
                    <textarea name="messege" class="" rows="5" placeholder="Messege"></textarea>
                    <button class="primary-btn">Confirm Booking</button>
                </form>*@
            </div>
        </div>


    </div>


<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $('.date').datepicker({
                minDate: 0,
                format: "dd/mm/yyyy",
                todayHighlight: true,
                clearBtn: true,
                orientation: "bottom left",
                autoclose: true
            });
            $('.time').clockpicker({
                placement: 'bottom',
                align: 'left',
                donetext: 'Done',
                twentyfourhour: true
            });

            jQuery.validator.methods.date = function (value, element) {
                var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                if (isChrome) {
                    var d = new Date();
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                } else {
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                }
            };

        })
    </script>*@

}
